<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-content>
    <span class="order-title">Shawn Mendes</span>
    <ion-icon  class="title-icon" name="compass" slot="end"></ion-icon>
    <ion-icon  class="title-icon" name="call" slot="end"></ion-icon>
    <br/>
    <ion-icon class="order-loc" name="location-outline" slot="end"></ion-icon>
    <span class="order-loc"> Hoboken, NY, USA</span>
    <ion-button expand="block" color="medium">DELIVERY/RETURN</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
